p {
  margin: 3% auto;
  text-align: center;
}

.weather-details {
  width: 400px;
  height: 200px;
  border: 2px solid var(--orange-color);
  border-radius: 10px;
  background-color: #3c4649;
  z-index: 2;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.frame-weather-details {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: rgba(97, 81, 81, 0.5);
}
