.app-widget {
  height: 33vh;
  position: relative;
}

.header-container {
  background: url('../../../assets/img/backgrounds/background-rainy.png')
    no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}

.forecast-container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* flex-grow: 1; */
}

.hourly-weather-container {
  height: 10%;
}
.calendar-button,
.map-button {
  position: absolute;
  z-index: 10;
  width: 45px;
  height: 45px;
  background-color: var(--orange-color);
  border: none;
  line-height: 10px;
  cursor: pointer;
  outline: none;
  bottom: 10px;
}

.calendar-button {
  border-radius: 0 10px 10px 0;
  left: 0;
}

.map-button {
  border-radius: 10px 0 0 10px;
  left: calc(100% - 45px);
}

.calendar-button-img,
.map-button-img {
  height: 50%;
  bottom: 200px;
}

.calendar-button-img {
  padding-right: 1px;
}

.logo {
  height: 30px;
  margin-left: 30px;
}

.hello-text {
  background-color: var(--dark-color);
  padding: 10px 30px 10px 30px;
  border-radius: 50px 0 0 50px;
  font-weight: 300;
}

.username {
  color: var(--orange-color);
  font-weight: 600;
  padding-left: 5px;
}

@media only screen and (max-width: 700px) {
  .hello-text {
    position: relative;
    font-size: 1.2rem;
    padding: 10px 15px 10px 20px;
  }

  .logo {
    height: 30px;
    margin-left: 10px;
  }
}
@media only screen and (max-width: 600px) {
  .app-widget {
    width: 100vw;
    z-index: 1;
    height: 100%;
  }

  .header-container {
    position: relative;
    justify-content: flex-start;
  }

  .forecast-container {
    width: 100%;
    padding: 0;
    justify-content: center;
    padding-top: 30px;
  }
}

@media only screen and (min-width: 600px) and (max-height: 1200px) {
  .hello-text,
  .username {
    font-size: 1.5rem;
  }
  .hello-text {
    padding: 10px 15px 10px 15px;
  }
}
@media only screen and (min-width: 600px) and (max-height: 700px) {
  .hello-text,
  .username {
    font-size: 1.2rem;
  }
  .hello-text {
    padding: 10px 15px 10px 15px;
  }
}
