<section class="app-widget" >
      <div class="header-container"
      (touchstart)="onTouchStartEvent($event)" (touchend)="onTouchEndEvent($event)">
    <div class="header">
      <img
        class="logo"
        src="../../../assets/img/logos/logo-orange.png"
        alt="logo"
      />
      <div class="hello-text">
        Witaj, <span class="username">{{ Name }}</span>
      </div>
    </div>
    <app-current-weather class="forecast-container"></app-current-weather>
    <app-hourly-weather></app-hourly-weather>
    <ng-container *ngIf="windowWidthService.isMobile">
      <button (click)="onCalendarClickEvent()" class="calendar-button">
        <img
          class="calendar-button-img"
          src="../../../assets/img/app-icons/calendar.png"
        />
      </button>
    </ng-container>
    <ng-container *ngIf="windowWidthService.isMobile">
      <button (click)="onMapClickEvent()" class="map-button">
        <img
          class="map-button-img"
          src="../../../assets/img/app-icons/map.png"
        />
      </button>
    </ng-container>
  </div>
</section>
