.current-location-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.current-location-icon {
  height: 26px;
  margin-right: 10px;
}

.current-weather-location {
  font-size: 3.7rem;
  color: var(--orange-color);
  font-weight: 300;
}

.current-weather-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.current-temperature {
  font-size: 3.2rem;
  border-right: 0.5px solid var(--white-color);
  padding: 0 30px 0 10px;
  font-weight: 500;
}

.current-weather-description-container {
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.current-weather-description-icon {
  height: 3rem;
  margin-right: 20px;
}

.current-weather-description {
  font-size: 3rem;
  text-align: center;
  padding-right: 10px;
  font-weight: 300;
}
.transparent-background {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5px;
  border-radius: 5px;
}

.weather-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-icon {
  width: 23px;
}

.weather-temperature {
  font-size: 1.4rem;
  font-weight: 600;
  /* margin-left: 10px; */
}
.margin-top-small {
  margin-top: 15px;
}

.day-description {
  font-weight: 300;
}

@media only screen and (min-width: 600px) and (min-height: 750) {
  .current-weather-description-icon {
    height: 2.5rem;
    margin-right: 15px;
  }
  .current-weather-description {
    font-size: 2.5rem;
  }
  .weather-icon {
    width: 15px;
  }
  .weather-temperature {
    font-size: 1.2rem;
  }
  .current-temperature {
    font-size: 1.8rem;
  }
  .current-weather-location {
    font-size: 2.2rem;
  }
  .day-description {
    font-size: 1.5rem;
  }
  .margin-top-small {
    margin-top: 5px;
  }
}

@media only screen and (min-width: 600px) and (max-height: 700px) {
  .margin-top-small {
    margin-top: 3px;
  }
  .current-weather-description-icon {
    height: 2rem;
    margin-right: 15px;
  }
  .current-weather-description {
    font-size: 2rem;
  }
  .current-location-icon {
    height: 20px;
  }
  .weather-icon {
    width: 13px;
  }
  .weather-temperature {
    font-size: 1rem;
  }
  .current-temperature {
    font-size: 2.1rem;
  }
  .current-weather-location {
    font-size: 2.2rem;
  }
  .day-description {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 600px) and (max-height: 550px) {
  .current-weather-description-icon {
    height: 1.6rem;
    margin-right: 15px;
  }
  .current-weather-description {
    font-size: 1.5rem;
  }
  .current-temperature {
    font-size: 1.5rem;
  }
  .current-weather-location {
    font-size: 1.7rem;
  }
  .weather-icon {
    width: 13px;
  }
  /* .day-description {
    font-size: 1rem;
  } */
}
@media only screen and (max-width: 600px) {
  .current-weather-container {
    margin-bottom: 15px;
    /* flex-direction: column; */
    align-items: center;
    flex-direction: column;
    padding: 10px;
    width: 80%;
  }

  .current-temperature {
    font-size: 3.5rem;
    border-right: none;
    border-bottom: 1px solid var(--white-color);
    padding-bottom: 10px;
    padding-right: 0;
  }

  .current-weather-description-container {
    padding: 20px 0 0 0;
  }
}

@media only screen and (max-width: 600px) {
  .current-weather-location {
    font-size: 1.7rem;
  }

  .current-weather-location-icon {
    height: 2.5rem;
  }

  .current-weather-description {
    font-size: 2rem;
  }

  .day-description {
    font-size: 1.4rem;
  }
}
