
<span class="day-description transparent-background">{{ fullDate }}</span>
<div class="current-location-container margin-top-small transparent-background">
  <img
    class="current-location-icon"
    src="../../../assets/img/app-icons/location-plain.png"
    alt="location icon"
  />
  <span class="current-weather-location">{{ currentWeather?.name }}</span>
</div>
<div
  class="current-weather-container margin-top-small transparent-background"
  *ngIf="currentWeather"
>
  <span class="current-temperature">{{ currentTemperature }}°c</span>
  <div class="current-weather-description-container">
    <img
      class="current-weather-description-icon"
      alt="weather"
      src="{{ currentWeatherIcon }}"
    />
    <span class="current-weather-description">{{
      polishWeatherDescription
    }}</span>
  </div>

