.app-map {
  height: 30vh;
  border-bottom: 3px solid var(--orange-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#map-container {
  width: 70%;
  height: 100%;
}

.location-container {
  height: 80%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left-white-button {
  position: absolute;
  z-index: 10;
  width: 45px;
  height: 45px;
  background-color: var(--orange-color);
  border: none;
  line-height: 10px;
  cursor: pointer;
  outline: none;
  bottom: 10px;
  left: 0;
  border-radius: 0 10px 10px 0;
}
.left-white-button-img {
  height: 50%;
  bottom: 200px;
  padding-right: 5px;
}

@media only screen and (max-width: 700px) {
  .app-map {
    flex-direction: column;
    position: relative;
  }
  .location-container {
    order: -1;
    flex-direction: row;
    width: 90%;
    align-items: center;
    height: 70px;
    justify-content: center;
  }

  #map-container {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .app-map {
    position: relative;
    z-index: 0;
  }

  #map-container {
    z-index: 0;
  }

  .app-map {
    width: 100vw;
    position: absolute;
    top: 0;
    transform: translateX(100vw);
    z-index: 1;
    transition: transform 0.2s linear;
    height: 100%;
    background-color: #2d3436;
  }

  .app-map-active {
    transform: translateX(0);
    z-index: 1;
  }

  .location-container {
    width: 100%;
    justify-content: space-around;
  }

  .location-header {
    margin-right: 10px;
  }

  .location-current {
    font-size: 1.6rem;
    font-weight: 600;
    margin-right: 10px;
  }

  .location-icon {
    margin-left: 10px;
  }
  .location-container {
    width: 100%;
    justify-content: space-around;
  }
}
