<div
  class="app-map"
  [ngClass]="{ 'app-map-active': sectionActivationService.map }"
  (touchstart)="onTouchStartEvent($event)" (touchend)="onTouchEndEvent($event)"
>
  <app-leaflet-map id="map-container"></app-leaflet-map>

  <ng-container *ngIf="windowWidthService.isMobile">
    <button class="left-white-button" (click)="handleOnClick()">
      <img
        class="left-white-button-img"
        src="../../../assets/img/app-icons/left-white.png"
      />
    </button>
  </ng-container>
  <app-location-container class="location-container"></app-location-container>
</div>
