.location-current {
  font-size: 2.2rem;
  font-weight: 300;
  margin-bottom: 20px;
  color: var(--orange-color);
}

@media only screen and (max-width: 400px) {
  .location-current {
    font-size: 1.2rem;
    font-weight: 600;
  }
}
