.location-container {
  height: 80%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location-icon {
  width: 30px;
  height: 30px;
  margin-bottom: 20px;
}

.location-header {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 20px;
}

@media only screen and (max-width: 700px) {
  .location-icon {
    margin-bottom: 0;
    margin-right: 10px;
  }

  .location-header {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

@media only screen and (max-width: 400px) {
  .location-icon {
    width: 20px;
    height: 20px;
  }

  .location-header {
    font-size: 1.2rem;
    margin-right: 0;
  }
}
