
    <img
      src="../../../assets/img/app-icons/location.png"
      alt="location icon"
      class="location-icon"
    />
    <h3 class="location-header">Aktualna lokalizacja</h3>
    <app-city-name></app-city-name>

