.app-calendar {
  padding: 20px 0;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.right-white-button {
  position: absolute;
  z-index: 10;
  width: 45px;
  height: 45px;
  background-color: var(--orange-color);
  border: none;
  line-height: 10px;
  cursor: pointer;
  outline: none;
  bottom: 10px;
  left: 100%;
  transform: translateX(-100%);
  border-radius: 10px 0 0 10px;
}

.right-white-button-img {
  height: 50%;
  bottom: 200px;
  padding-left: 1px;
  padding-left: 5px;
}

@media only screen and (max-width: 900px) {
  .app-calendar {
    width: 100%;
    height: 100%;
    border-right: none;
    border-bottom: 1px solid #546164;
  }
}

@media only screen and (min-width: 600px) and (max-height: 900px) {
  .app-calendar {
    padding: 10px;
  }
}
