.calendar-navigation-container {
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1%;
}

.navigation-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: var(--dark-color);
  border: none;
  outline: none;
  margin: 0 15px;
}

.navigation-button-icon {
  width: 15px;
  height: 15px;
  margin: 0 10px;
}
.year-select,
.month-select {
  outline: none;
  text-transform: uppercase;
  border: none;
  border-bottom: 1px solid var(--orange-color);
  background-color: var(--dark-color);
  color: var(--white-color);
  cursor: pointer;
  font-weight: 600;
}

.year-select:focus,
.month-select:focus {
  outline: none;
}

.year-select:active,
.month-select:active {
  outline: none;
}

.month-select {
  margin-right: 10px;
}

.calendar {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  padding: 0 0 10px 40px;
}

.calendar-box {
  height: 85%;
  display: flex;
  flex-direction: column;
  /* padding: 0 0 10px 40px; */
}
.calendar-header > .calendar-header-cell {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.4rem;
}

.calendar-row {
  flex: 1 0 auto;
  display: flex;
}

.calendar-header {
  height: 30px;
  display: flex;
}

.calendar-cell,
.calendar-header-cell {
  display: flex;
  width: 14.285%;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  padding: 0 10px;
  /* min-width: 50px; */
  position: relative;
  /* height: 30px; */
}
.calendar-header-cell {
  height: 30px;
}

.calendar-cell:hover {
  background-color: var(--orange-color);
  border-radius: 15px;
  cursor: pointer;
}

.empty-calendar-cell:hover {
  background-color: var(--dark-color);
  cursor: default;
}

.current-day {
  border: 2px solid var(--orange-color);
  border-radius: 15px;
  padding: 0 5px;
}

.available-day-icon {
  width: 27px;
  padding-right: 15px;
  box-sizing: content-box;
}

.forecastDetail {
  position: absolute;
  display: none;
  width: 120px;
  height: 200px;
  border: 2px solid var(--orange-color);
  border-radius: 15px;
  z-index: 1;
  background-color: var(--dark-color);
}
.detalied-day {
  margin: 5% auto;
  text-align: center;
}

.forecast-popup {
  display: none;
}

@media only screen and (max-width: 700px) {
  .app-calendar {
    flex-direction: column;
    position: relative;
  }
}

@media only screen and (max-width: 1450px) {
  .current-day {
    border: 1.5px solid var(--orange-color);
    padding: 1px 5px;
    border-radius: 15px;
  }

  .app-calendar {
    padding: 10px 0;
  }
  .calendar-cell:hover {
    border-radius: 15px;
  }
  .calendar-cell,
  .calendar-header-cell {
    height: auto;
  }
}

@media only screen and (max-width: 600px) {
  .calendar {
    padding: 0 5px;
  }

  .available-day-icon {
    width: 27px;
    padding: 10px 0 0 0;
  }

  .calendar-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .month-select,
  .year-select {
    font-size: 1.7rem;
  }
  .navigation-button-icon {
    width: 20px;
    height: 20px;
  }
}

@media only screen and (max-width: 360px) {
  .calendar-header-cell {
    font-size: 1 rem !important;
    writing-mode: vertical-rl !important;
    text-orientation: upright !important;
    padding: 5px 1px;
  }
  .calendar-cell {
    padding: 0;
    width: 20px;
    font-size: 1rem;
    width: 14.28%;
  }
  .calendar-header-cell {
    font-size: 1rem !important;
    width: 14.28%;
  }
  .calendar-box {
    height: 80%;
  }
}
