<section class="app-calendar">
  <app-calendar></app-calendar>
  <ng-container *ngIf="windowWidthService.isMobile">
    <button class="right-white-button" (click)="handleOnClick()">
      <img
        class="right-white-button-img"
        src="../../../assets/img/app-icons/right-white.png"
      />
    </button>
  </ng-container>
</section>
