<div
  class="calendar"
  (touchstart)="onTouchStartEvent($event)"
  (touchend)="onTouchEndEvent($event)"
>
  <div class="calendar-navigation-container">
    <button class="navigation-button left-button">
      <img
        (click)="handleClick('left')"
        src="assets/img/app-icons/left.png"
        alt="left icon"
        class="navigation-button-icon"
      />
    </button>
    <select
      [(ngModel)]="monthName"
      (change)="handleMonthChange($event.target.value)"
      class="month-select"
    >
      <option *ngFor="let month of months">
        {{ month }}
      </option>
    </select>

    <select
      [(ngModel)]="year"
      (change)="handleYearChange($event.target.value)"
      class="year-select"
    >
      <option *ngFor="let year of years">
        {{ year }}
      </option>
    </select>

    <button class="navigation-button right-button">
      <img
        (click)="handleClick('right')"
        src="assets/img/app-icons/right.png"
        alt="right icon"
        class="navigation-button-icon"
      />
    </button>
  </div>
  <div class="calendar-box">
    <div class="calendar-header">
      <div *ngFor="let day of daysAbbreviation" class="calendar-header-cell">
        {{ day }}
      </div>
    </div>
    <div *ngFor="let row of calendarArray; let i = index" class="calendar-row">
      <div
        *ngFor="let days of calendarArray[i]; let j = index"
        (click)="onClickMe($event)"
        [ngClass]="{
          'current-day': isCurrent(i, j),
          'empty-calendar-cell': isEmpty(i, j),
          'calendar-cell': true
        }"
      >
        {{ calendarArray[i][j] }}
        <img
          class="available-day-icon"
          [src]="isCurrent(i, j) ? this.currentWeatherIcon : ''"
        />
      </div>
    </div>
    <app-pop-up-details
      class="forecast-popup"
      (click)="onHideDetails($event)"
      [style.display]="displayDetailsInline ? 'block' : 'none'"
    ></app-pop-up-details>
  </div>
</div>
