.detailed-forecast-container {
  border-top: 3px solid var(--orange-color);
  border-bottom: 3px solid var(--orange-color);
  /* background-color: var(--dark-color); */
  background-color: rgba(0, 0, 0, 0.5);
}

.detailed-forecast {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 5px 0;
}

.detailed-forecast-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
}

.detailed-forecast-item:not(:last-child) {
  border-right: 1px solid #546164;
}

.weather-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-temperature {
  color: var(--orange-color);
  font-size: 1.6rem;
  font-weight: 600;
  margin-left: 5%;
}
.weather-hour {
  font-size: 1.4rem;
}
.hourly-weather-icon {
  width: 3rem;
  margin-left: 5%;
  margin-bottom: 4px;
}
@media only screen and (max-width: 600px) {
  .app-calendar {
    position: relative;
  }
  .detailed-forecast-container {
    border: none;
    background-color: rgba(0, 0, 0, 0.4);
    width: 80%;
    margin: 0 auto;
  }

  .detailed-forecast {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
  }

  .detailed-forecast-item {
    border-right: none !important;

    width: 100%;
    width: 150px;
    padding: 5px;
    margin-bottom: 5px;
  }
  .weather-hour {
    font-size: 1.5rem;
    font-weight: 300;
    padding-right: 5px;
  }
  .weather-temperature {
    font-size: 2rem;
    margin: 0;
    padding-left: 10px;
  }
}
