<div class="detailed-forecast-container">
  <ul class="detailed-forecast">
    <li
      *ngFor="let weather of hourlyWeatherService.currentWeatherArray"
      class="detailed-forecast-item"
    >
      <span class="weather-hour"> {{ weather.hour }}</span>
      <span class="weather-temperature">{{ weather.temp }}°c</span>
      <img
        class="hourly-weather-icon"
        [src]="weather.iconUrl"
        alt="weather icon"
      />
    </li>
  </ul>
</div>
