<div (window:resize)="onResize($event)" class="app-wrapper">
        <app-weather></app-weather>
        <app-calendar-container
          [ngClass]="{ 'app-calendar-active': sectionActivationService.calendar }"
        ></app-calendar-container>
        <app-location></app-location>
      </div>

