.app-wrapper {
  margin: 0 auto;
  max-width: 900px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transition: all 2s linear;
}

.body {
  margin: 0 auto;
  background-color: #3c4649;
  height: 100vh;
  width: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
.app-wrapper-hidden {
  opacity: 0;
}

app-weather,
app-calendar-container,
app-location {
  background-color: #2d3436;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
  font-size: 1.6rem;
}

app-calendar-container {
  height: 35vh;
  border-bottom: 3px solid var(--orange-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .app-wrapper {
    width: 100vw;
    display: block;
    position: relative;
    overflow: hidden;
  }

  app-calendar-container {
    /* height: 100vh; */
    width: 100vw;
    position: absolute;
    top: 0;
    transform: translateX(-100vw);
    z-index: 1;
    transition: transform 0.2s linear;
    height: 100%;
  }

  .app-calendar-active {
    transform: translateX(0);
    z-index: 100;
  }

  .app-map-active {
    transform: translateX(0);
    z-index: 1;
  }
}
