/*LOGIN BOX*/

.login-container {
  position: absolute;
  width: 900px;
  height: 100vh;
  background-color: var(--dark-color);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: all 1s linear;

  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.login-container-hidden {
  opacity: 0;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 50px 30px;
  border: 2px solid var(--orange-color);
  border-radius: 10px;
}

.credits-text {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.login-text {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.white-logo {
  margin-bottom: 50px;
  height: 70px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-input {
  padding: 15px;
  background-color: #252b2d;
  border: none;
  margin-bottom: 30px;
  color: var(--white-color);
  font-size: 1.5rem;
  text-align: center;
  border-radius: 5px;
}

.login-input:focus,
.login-button:focus {
  outline: none;
}

.app-widget,
.app-calendar,
.app-map {
  background-color: #2d3436;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
  font-size: 1.6rem;
}

.link-style {
  font-size: 1.5rem;
  color: var(--white-color);
  text-transform: lowercase;
  font-weight: 600;
  text-decoration: none;
}

.login-button {
  padding: 15px 30px;
  background-color: var(--orange-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--white-color);
  text-transform: lowercase;
  font-weight: 600;
}

.button {
  display: inline-block;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  width: 110px;
  height: 47px;
  text-transform: uppercase;
  margin-top: 8px;
  text-align: center;
  line-height: 18px;
  text-decoration: none;

  padding: 15px 30px;
  background-color: var(--orange-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--white-color);
  text-transform: lowercase;
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  .login-container {
    height: 100vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }

  .login-box {
    width: 90%;
    margin: 20px;
  }

  .white-logo {
    height: 50px;
  }
}
