<div class="login-container">
    <div class="login-box">
        <span class="credits-text">Welcome to</span>
        <img class="white-logo" src="../../../assets/img/logos/logo-white.png" alt="app logo">
        <form class="login-form" (ngSubmit)= "onAddName(f)" #f="ngForm" ngNativeValidate>
            <span class="login-text"> podaj swoje imię:</span>
            <input
            required
            ngModel
            name="name"
            class="login-input"
            type="text"
            >
            <!-- <a class="button"  href="/mainWindow" (click)="onAddName()">Zaloguj</a>  -->
            <button [disabled]="!f.valid"  class="login-button" type="submit" >Zaloguj</button>
        </form>
    </div>
</div>
