/*
Variables
*/
:root {
  --white-color: #ffffff;
  --orange-color: #fe7e63;
  --dark-color: #2d3436;
}

/*
  Reset
*/

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*HELPERS*/

.margin-top-small {
  margin-top: 10px;
}

/*
  Global styles
*/

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  color: var(--white-color);
}

body {
  background-color: #4b585c;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
